# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# JetBrains
.idea/

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Flask
instance/

# SQLite backups
*.bak